:root {
    --primary-color: #00f89b;
    --secondary-color: #005c3c ;
    --tertiary-color: #174501;
    --dark: #000000;
    --light: #ffffff;

}

html, body {
    background-color: var(--secondary-color);
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

a {
    all: unset;
}

#content {
    margin-top: 120px; 
    margin-bottom: 900px;
    overflow: auto;
}



.navTitle {
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--dark);
    font-weight: 900;
    font-size: 90%;
    padding: 5px;
    margin: 10px;
    border: 5px solid var(--dark);
    border-radius: 20px;
    display: flex;
    justify-content: center; 
}


#header {
    position: fixed;
}

#navName {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--dark);
    color: var(--light);
    font-size: 200%;
    font-weight: 100;
    display: flex;
    align-items: flex-end;
    border: 5px solid var(--dark);
    
}

#navTitleName {
    font-size: small;
    font-family: cursive;
    
}

#navName > div {
    padding: 0px;
    margin: 10px;
}

#navPages {
    display: flex;
    justify-content: left;
}

#nav {
    background-color: var(--primary-color);
    justify-content: left;
    padding: 0px;
    margin: 0px;
    display: flex;
    
}

.activeNavPage {
    color: var(--light);
    background: var(--dark);
}

.empty {
    background-color: red;
}

.contentTitle {
    font-weight: bold;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    
}

.contentInfo {
    
}

.contentDescription {
    font-family:'Courier New', Courier, monospace;
    font-size: larger;

}

.content {
    background-color: var(--primary-color);
    margin: 10px;
    padding: 20px;
    border: 0px solid var(--dark);
    border-radius: 15px;
    box-shadow: 10px 10px 20px var(--dark);
    
}

.contentContainer{
    display: flex;
    flex-direction: column;
    margin: 0px; 
    background-color: var(--secondary-color);
    justify-content: center;
    gap: 10px;

}

#projectsCollapse {
    margin-top: 20px; 
    text-align: center;
    cursor: pointer;
}

#projectsList.hide {
    display: none;
}

#contact {
    background-color: var(--dark);
    color: var(--light);
    bottom: 0px;
    position: fixed;

    

}



#contactTitle {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}

#contactInfoTitle {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#contactInfo {
    
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 40px;
}

#projectsList {
    border-radius: 20px;
}

.col-1 {width: 8.22%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.22%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}




.hamburger {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
  


@media screen and (max-width: 480px) {

    #content {
        margin-top: 60px; 
    }

    

    .hamburger {
        display: inline-block;
    }

    #nav.hide {
        display: none;
    }

    
    
    #navPages {
        flex-direction: column;
        justify-content: center;
    }

    .navTitle {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 900;
        font-size: 90%;
        padding: 10px;
        margin: 0px;
        border: 0px solid var(--dark);
        border-radius: 0px;
        display: flex;
        justify-content: center; 
    }

    .activeNavPage {
        color: var(--light);
        background: var(--dark);
        border: 5px solid var(--light);
    }

    .col-1-s {width: 8.22%}
    .col-2-s {width: 16.66%}
    .col-3-s {width: 25%}
    .col-4-s {width: 33.22%}
    .col-5-s {width: 41.66%}
    .col-6-s {width: 50%}
    .col-7-s {width: 58.33%}
    .col-8-s {width: 66.66%}
    .col-9-s {width: 75%}
    .col-10-s {width: 83.33%}
    .col-11-s {width: 91.66%}
    .col-12-s {width: 100%}
}

@media screen and (max-width: 768px) {

    #content {
        margin-top: 60px; 
    }

    .hamburger {
        display: inline-block;
    }

    #nav.hide {
        display: none;
    }

    
    
    #navPages {
        flex-direction: column;
        justify-content: center;
    }

    .navTitle {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 900;
        font-size: 90%;
        padding: 10px;
        margin: 0px;
        border: 0px solid var(--dark);
        border-radius: 0px;
        display: flex;
        justify-content: center; 
    }

    .activeNavPage {
        color: var(--light);
        background: var(--dark);
        border: 5px solid var(--light);
    }

    .col-1-s {width: 8.22%}
    .col-2-s {width: 16.66%}
    .col-3-s {width: 25%}
    .col-4-s {width: 33.22%}
    .col-5-s {width: 41.66%}
    .col-6-s {width: 50%}
    .col-7-s {width: 58.33%}
    .col-8-s {width: 66.66%}
    .col-9-s {width: 75%}
    .col-10-s {width: 83.33%}
    .col-11-s {width: 91.66%}
    .col-12-s {width: 100%}
}

@media screen and (max-width: 1024px) {
    /* default*/

}